.contentWrapper__resultsList {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

@media only screen and (max-width: 600px) {
  .contentWrapper__resultsList {
    flex-direction: column;
  }
}
