@import "../../../theme/styles/colors";

.surveyListWrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  background-color: $disabledBackground;

  .contentWrapper {
    display: flex;
    flex-direction: column;
    align-self: center;
    flex-grow: 1;
    width: 100%;
    max-width: 800px;
    padding: 40px;

    &__title {
      color: $primaryDark;
      font-size: 20px;
      font-weight: bold;
      text-transform: uppercase;
      margin-bottom: 24px;
    }

    &__resultsList {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }
  }
}

@media only screen and (max-width: 600px) {
  .surveyListWrapper {
    .contentWrapper {
      &__resultsList {
        flex-direction: column;
      }
    }
  }
}
