@import "colors";

button {
  background-color: $primary;
  color: $white;
  border-radius: 0.5rem;
  font-size: 1rem;
  border: none;
  line-height: 50px;
  cursor: pointer;
  padding: 0 1rem;

  &:hover {
    opacity: 0.9;
  }

  &:disabled {
    cursor: default;
    background-color: $disabledBackground;
    color: $disabledColor;

    &:hover {
      opacity: 1;
    }
  }
}
