@import "colors";

button {
    background-color: $primary;
    color: $white;
    border-radius: 8px;
    font-size: 16px;
    border: none;
    line-height: 50px;
    cursor: pointer;

    &:hover {
        opacity: .9;
    }

    &:disabled {
        cursor: default;
        background-color: $disabledBackground;
        color: $disabledColor;

        &:hover {
            opacity: 1;
        }
    }
}
